@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Playfair+Display:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdf6ee;
  background-image: linear-gradient(rgba(253, 246, 238, 0.9), rgba(253, 246, 238, 0.9)), url('/images/background/noise.png');
  background-repeat: repeat;
  background-size: 100px;
  color: #333;
  font-family: $font-body;
  font-size: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  overflow-x: clip;
}
