@use "@/styles/variables" as *;

@mixin section-container {
  width: min(100%, 960px);
  margin: 0 auto;
}

@mixin tablet {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}
